$cb : aliceblue;
$gap: 1.5rem;
$underline-padding : 0.5rem 0 ;
$underline-margin: 0.5rem 0 0 0;
$img-background-height: 14vh;
$ko-margin :0.4rem;
$br-line-height: 1.4rem;
$icon-width: 10rem;
$icon-height: 10rem;
$icon-size: 5.5rem;  
      
       // $icon-path: '~@/assets/icon/wCow.png';
